<!DOCTYPE html>
<html>
  <head>
    <title>GLASSCASE</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    body, html {
      height: 100%;
    }
    .parallax {
      background-image: url('http://cdn.shopify.com/s/files/1/0267/1283/collections/MightyChalice_large.jpg?v=1445138274');

      /* Full height */
      min-height: 500px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .parallax-1 {
      background-image: url('https://s-media-cache-ak0.pinimg.com/originals/60/3f/13/603f13437b80e3c9a4bf9d6bfd35315e.jpg');

      /* Full height */
      min-height: 600px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .parallax-2 {
      background-image: url('https://s-media-cache-ak0.pinimg.com/736x/50/a9/b3/50a9b38cf4451280c4ed37dffca077d9.jpg');
      /* Full height */
      min-height: 500px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .parallax-3 {
      background-image: url('http://www.dumpaday.com/wp-content/uploads/2013/04/funny-pictures-of-dogs-drinking-beer1.jpg');
      /* Full height */
      min-height: 100px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #signed-in-txt {
      color: red;
    }
    </style>
  </head>

  <body>
    <div class='container'>
      <%= yield %>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
